<div class="row">
  <div class="col-md-12">
    <h1 class="h2">Suggest Location</h1>
    <%= form_for @notification, url: suggest_notification_path, method: 'post' do |f| %>
      <div class="form-group">
        <%= f.label :current_location, class: 'control-label' %>
        <p class="form-control-static"><%= @notification.event.location %></p>
      </div>
      <div class="form-group">
        <%= f.hidden_field :suggest_type, value: 'location' %>
        <%= f.label :suggested_location, 'Your suggestion' , class: 'control-label' %>
        <%= f.text_field :suggested_location, class: 'form-control', autofocus: true %>
      </div>
      <%= render 'form_suggest_submit', f: f %>
    <% end %>
  </div>
</div>