<div class="card">
  <%= render 'avatar' %>
  
  <div class="content">
    <canvas class="header-bg" width="250" height="70"></canvas>
    <p>
      <%= @user.fullname %><br>
      @<%= @user.handle %>
    </p>
    <p><%= link_to 'Profile', '', class: 'btn btn-default', role: 'button' %></p>
  </div>
  <div class="list-group">
  <% if @events.empty? %>
    <div class="list-group-item">
      No recent events
    </div>
  <% end %>
  <% @events.each do |event| %>
    <%= link_to event.activity, event_path(event), class: 'list-group-item' %>
  <% end %>
  </div>
</div>