<script>
function initialize<%= event.id %>() {
  geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    address: '<%= event.location %>, Singapore',
    region: 'sg'
  }, function(results, status) {
    if(status == google.maps.GeocoderStatus.OK) {
      var mapOptions = {
        zoom: 15,
        center: results[0].geometry.location,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      
      map = new google.maps.Map(document.getElementById('map-canvas-<%= event.id %>'), mapOptions);
      
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
      
      map.setCenter(results[0].geometry.location)
    }
  });
}

function loadScript<%= event.id %>() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA3kuSBttz56OnHl3kindQadgztLk4IS-U&callback=initialize<%= event.id %>';
  document.body.appendChild(script);
}

loadScript<%= event.id %>();
</script>
<div class="row">
  <div class="col-md-12">
    <div id="map-canvas-<%= event.id %>" class="map-canvas"></div>
  </div>
</div>