<div class="col-md-12 event-card">

  <div class="row text-muted">
  
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12 event-card-details">
          <h1><%= @event.activity %></h1>
          <p>
            <%= @event.datetime.strftime('%e %b, %l%p') %><br>
            <%= @event.location %>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-xs-4">
      <%= render 'users/avatar', user: @event.user %>
    </div>
    
  </div>
  
  <%= render 'common/row_divider' %>
  
  <div class="row">
    <div class="col-md-12">
      <div id="map-canvas"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 event-card-description">
      <p class="text-muted">
        <% if @event.description.blank? %>
        No description
        <% else %>
        <%= @event.description %>
        <% end %>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 text-right text-success">
      <em>Event <%= relative_word_time @event.datetime %></em>
    </div>
  </div>
  
  <%= render 'common/row_divider' %>
  
  <div class="row">
    <div class="col-md-12">
      <h1>Invited</h1>
      <% @invited.each_slice(3) do |users| %>
      <div class="row">
        <% users.each do |user| %>
        <div class="col-xs-4">
          <%= render 'users/avatar', user: user, response: :accepted %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-12 text-center">
          <%= link_to 'Invite More Friends', '', class: 'btn btn-primary', role: 'button' %>
        </div>
      </div>
    </div>
  </div>
  
</div>