<p>
  <h2>Activity: </h2>
  <%= @event.activity %>
</p>

<p>
  <h2>Date & Time: </h2>
  <%= @event.datetime %>
</p>

<p>
  <h2>Location: </h2>
  <%= @event.location %>
</p>

<p>
  <h2>Description: </h2>
  <%= @event.description %>
</p>

<p>
  <h2>Host: </h2>
  <%= @event.host %>
</p>

<%= link_to 'Back', events_path %>