<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Fullname</th>
    <th>Handle</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Hosted Events</th>
    <th class="text-center" colspan="3">Actions</th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.fullname %></td>
      <td><%= user.handle %></td>
      <td><%= user.email %></td>
      <td><%= user.admin? ? "&#10003;".html_safe : "&#10007;".html_safe %></td>
      <td><%= user.events.count %></td>
      <td><%= link_to 'Show', admin_user_path(user), class: "btn btn-primary", role: "button" %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-primary", role: "button" %></td>
      <td><%= link_to 'Destroy', admin_user_path(user), class: "btn btn-danger", role: "button", method: :delete,
      data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>